# vim: set filetype=gitconfig:
# filetype modeline so nvim recognizes this file and runs autocmds when editing directly
# and not via symlinks

[include]
    path = ~/.gitconfig.local
[gpg]
	format = ssh
[user]
	signingkey = /home/nikhil/.ssh/id_ed25519
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/nikhil/.ssh/allowed_signers
